@import "first.scss";

p {
  @if 1+1==2 {
    border: 1px solid;
  }
}

@for $i from 1 to 10 {
  .border-#{$i} {
    border: #{$i}px solid blue;
  }
}

@function double($n) {
  @return $n*2;
}

#sidebar {
  width: double(5px);
}

$i: 6;
@while $i > 0 {
  .item-#{$i} {
    width: 2em * $i;
  }
  $i: $i - 2;
}

